#============= mediaextractor ==============
allow mediaextractor fuse:file { getattr read};
allow mediaextractor sdcardfs:file { read getattr };
allow mediaextractor vfat:file { read getattr };
